body {
   background-color: grey;
    /* fonts */
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
  
    /* added padding to stop navbar from overlaping. */
    padding-top: 90px;
    vertical-align: middle;
  }
  
  #canvas {
    border-top: 25px;
    padding-top: 25px;
    padding-left: 43%;
  }
  
 
  input {
    background: transparent;
    border: none;
  
    /* so cursor appears */
    padding-left: 4px;
  }
  
  
  .navbar {
    /* background-color */ 
    background-color: #070000;  /*upper banner*/
      
  
    /* padding for bottom border */
    padding-bottom: 0;
    
    
    
    width: 100%;
    text-align: center;
  }
  
  #navbar-title {
    padding: 0px;
    font-size: 40px;
    color: rgb(0, 60, 255);
    text-align: center;
  }
/*  */



  /*  */
  #navbar-subtitle {
    padding: 4px;
    font-size: 25px;
    color: rgb(0, 60, 255)
    text-align: center;
  }
  
  .col-md-1, .col-md-2, .col-md-9 {
    padding: 0;
  }
  
  /* #planner */
  #plannerContainer {
    margin-top: 20px;
    margin-bottom: 80px;
    
    /* spaceing around the text */
    padding: 40px;
  } 
  
  .plannerRow {
    height: 50px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 20;
    line-height: 2;
    border-radius: 15px;
  }
  
  /* style container with time in it */
  .timeBox {
    background-color: rgb(0, 60, 255);  
    color: rgb(238, 255, 8);
    height:100%;
    width: 100%;
    text-align: center;
    border-radius: 15px 0px 0px 15px;
    display: inline-block;
    font-size: 20px;
  }
  
  /* style container with daily plan */
  .dailyPlan {
     font-weight: bold;
    font-size: 15pt;
     height:100%;
    width: 100%;}
  
  
  .saveIcon {
    background-color: rgb(2, 2, 2);
     color: rgb(248, 248, 246);
     border-radius: 0px 15px 15px 0px;
    /* float: right; */
    font-size: 20px;
    width: 100%;
    height: 100%;
    text-align: center;}
  
  
  .footer {
    
    background-color: rgb(0, 60, 255);
    
    /* footer height */
    height: 10%;
    
    
    border-top: solid;
    border-top-color: #080808;  
    border-top-width: 12px;
  }
  
  .footer-text, .header-text {
    /* forces text across the entire screen so it has a center */
    width: 100%;
    text-align: center;
  
    font-size: 16px;
    color:rgb(0, 60, 255); 
  }
  
 
  @media (max-width: 768px) {
    
    .plannerRow {
      height: 100%;
      border-radius: 10;
      margin: 10px;
    }
  
    .saveIcon { border-radius: 0 0 15px 15px; }
  
    .timeBox { border-radius: 15px 15px 0 0; }
  }
  
 
  
  .wrapper
  { 
    padding: 20px;     
  } 
  
   @keyframes shadow-pulse 
  
  {
    20% {
      box-shadow: 0 0 0 0px rgb(206, 231, 114);
    }
    20% {
      box-shadow: 0 0 0 8px rgb(206, 231, 114);
    }
  }
  .shadowPulse {
    animation: shadow-pulse 2s infinite;
  }